node_modules/
dist/
.DS_Store
.env
.env.*
!.env.example
!.env.*.example
**/.env
**/.env.*
!**/.env.example
!**/.env.*.example
.angular/
.svelte-kit/
.next/
.dart_tool/
.gradle/
.build/
build/
*.iml
.idea/
local.properties
.flutter-plugins*
**/.lingva/artifacts/
